---
import { getCollection } from "astro:content";
const allNotes = await getCollection("documents");
---

<h1>My Obsidian Notes</h1>
<ul>
  {
    allNotes.map((note) => (
      <li>
        <a href={`/notes/${note.id}`}>{note.data.title || note.id}</a>
      </li>
    ))
  }
</ul>
