---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-red text-1xl p-4 text-center text-white">
    ERROR 404 — PAGE NOT FOUND
  </div>

  <div class="mx-auto my-15 max-w-xl p-5 text-xl text-nowrap">
    <p class="font-serif">
      Stand still. The trees ahead and bushes beside you<br />
      are not lost. Wherever you are is called Here,<br />
      And you must treat it as a powerful stranger,<br />
      Must ask permission to know it and be known.<br />
      The forest breathes. Listen. It answers,<br />
      I have made this place around you,<br />
      If you leave it you may come back again, saying Here.<br />
      No two trees are the same to Raven.<br />
      No two branches are the same to Wren.<br />
      If what a tree or a bush does is lost on you,<br />
      You are surely lost. Stand still. The forest knows<br />
      Where you are. You must let it find you.
    </p>
    <p class="mx-auto mt-5 max-w-2xl text-base">David Wagoner, Lost, 01971</p>
  </div>

  <a href="/">
    <img src="/logo-jameshome.svg" class="mx-auto mb-40 w-40" />
  </a>
</Layout>
