---
import Layout from "../layouts/GlobalLayout.astro";
import { getEntry, render } from "astro:content";
import Timeline from "../components/Timeline.astro";
import Homestar from "../components/Homestar.astro";
import Homestars from "../components/Homestars.astro";
import Prose from "../components/Prose.astro";

const [introEntry, bioEntry, nowEntry] = await Promise.all([
  getEntry("documents", "intro"),
  getEntry("documents", "bio"),
  getEntry("documents", "now"),
]);
const [{ Content: Intro }, { Content: Bio }, { Content: Now }] =
  await Promise.all([
    render(introEntry!),
    render(bioEntry!),
    render(nowEntry!),
  ]);
---

<Layout>
  <div class="relative mx-auto my-0 max-w-5xl">
    <img
      src="/logo-jameshome.svg"
      alt="JAMES HOME"
      class="absolute top-0 right-0 m-4 w-1/4"
    />
    <img
      src="/properbusiness.svg"
      alt="Value judgments are destructive to our proper business, which is curiosity and awareness. — John Cage"
      class="mx-auto max-h-screen w-3/4 py-4"
    />
  </div>
  <Homestars />
  <Prose>
    <Intro />
  </Prose>
  <Homestars />
  <Prose>
    <Bio />
  </Prose>
  <Prose>
    <Now />
    As ever <span style="color: rgba(226, 0, 0, 1);">—</span>
  </Prose>

  <img class="mx-auto" alt="- J." src="/chop.svg" />

  <div
    class="text-grey mx-auto max-w-3xl px-4 text-right font-sans text-base uppercase"
  >
    Port Townsend, Cascadia, July 02025
  </div>

  <div
    class="font-script text-red mx-auto my-40 max-w-3xl -rotate-20 text-center text-4xl md:text-6xl"
  >
    <a href="https://signal.me/#p/4152445464">+1 415 244 5464</a>
    <Homestar class="mx-auto my-5 rotate-20 md:my-10" />
    <a href="mailto:jh@jameshome.com">jh@jameshome.com</a>
  </div>
  <Homestars />
  <Timeline />
  <Homestars />
  <div class="flex">
    <figure class="relative flex-1">
      <img
        src="/james+dahlia-02019.jpg"
        alt="James Home shot by Christopher Michel"
        class="h-full w-full object-cover"
      />
      <figcaption
        class="absolute bottom-5 left-5 origin-bottom-left rotate-270 font-sans text-xs text-black/50 uppercase"
      >
        Photo by <a href="https://www.asamathat.com/">Asa Mathat</a>
      </figcaption>
    </figure>
    <figure class="relative flex-1">
      <img
        src="/jameshome-02025.jpg"
        alt="James Home shot by Christopher Michel"
        class="h-full w-full object-cover"
      />
      <figcaption
        class="absolute right-5 bottom-5 origin-bottom-right rotate-90 font-sans text-xs text-white/50 uppercase"
      >
        Photo by <a href="https://www.christophermichel.com/"
          >Christopher Michel</a
        >
      </figcaption>
    </figure>
  </div>
  <a href="/"
    ><img src="/logo-jameshome.svg" alt="HOME" class="mx-auto my-20 w-40" /></a
  >
</Layout>
