---
import Layout from "../layouts/HomeLayout.astro";
import Intro from "./intro.md";
import Bio from "./bio.md";
import Now from "./now.md";
import Updated from "./updated.md";
import Timeline from "../components/Timeline.astro";
import Headshot from "./headshot.md";
import Homestars from "../components/Homestars.astro";
import Prose from "../components/Prose.astro";
---

<Layout>
  <Homestars />
  <Prose>
    <Intro />
  </Prose>
  <Homestars />
  <Prose>
    <Bio />
  </Prose>
  <Prose>
    <Now />
  </Prose>

  <p
    class="mx-auto max-w-3xl p-6 font-serif text-xl text-stone-700 md:text-2xl"
  >
    As ever <span style="color: rgba(226, 0, 0, 1);">—</span>
  </p>

  <img class="mx-auto" alt="- J." src="/chop.svg" />

  <div class="mx-auto max-w-3xl px-4 text-right text-stone-500">
    <Updated />
  </div>

  <a href="mailto:jh@jameshome.com"
    ><img
      class="mx-auto my-20 px-3"
      src="/foragoodtimecall.svg"
      alt="jh@jameshome.com"
    /></a
  >
  <Homestars />
  <Timeline />
  <Homestars />
  <Prose>
    <Headshot />
  </Prose>
</Layout>
