---
const { content } = Astro.props;
---

<div
  class="prose prose-stone prose-a:hover:underline prose-a:no-underline prose-li:marker:text-red prose-a:text-red prose-xl md:prose-2xl prose-figcaption:font-sans prose-b:font-semibold prose-figcaption:text-base prose-figcaption:text-center prose-h2:font-normal prose-h2:text-4xl mx-auto px-4 font-serif"
>
  <slot />
</div>
