---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="relative p-2 max-w-7xl mx-auto">
    <div
      class={`absolute bg-[url(/logo-jameshome.svg)] bg-cover aspect-2/1 w-1/3 md:w-1/4 top-0 right-0 m-4 md:m-10`}
    >
    </div>
    <div
      class={`relative m-4 md:m-10 ml-auto max-h-screen aspect-3/4 bg-[url(/properbusiness.svg)] bg-contain bg-no-repeat`}
    >
    </div>
  </div>
  <slot />
  <img src="/logo-jameshome.svg" class="max-w-40 my-40 mx-auto" />
</Layout>
