---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class={`relative m-12 ml-auto w-7/8 aspect-3/4 bg-[url(/properbusiness.svg)]  bg-contain bg-no-repeat`}>
    <div
      class={`absolute bg-[url(/logo-jameshome.svg)] bg-cover aspect-2/1 w-1/3 md:w-1/4 top-5 right-5`}>
    </div>
  </div>

  <slot />

  <img src="/logo-jameshome.svg" class="max-w-40 my-40 mx-auto" />
</Layout>
